body {
     background-image: url(https://github.com/mikaylaclark/mikaylaclark.github.io/blob/master/Screen%20Shot%202019-11-14%20at%204.36.24%20PM.png);
}

h1 { 
text-align: center;
color: blue;
}

h2 {
text-align: center;
color: purple;
}

h3 {
text-align: center;
color: pink;
}
