body {
     background-image: url(Screen Shot 2019-11-14 at 4.36.24 PM.png);
}

h1 { 
text-align: center;
color: blue;
}

h2 {
text-align: center;
color: purple;
}

h3 {
text-align: center;
color: pink;
}
