body {
     background-image: url(mountains.png);
}

h1 { 
text-align: center;
color: #C36849;
}

h2 {
text-align: center;
color: #ff8c69;
border: 3px solid #ff8c69;
}

h3 {
text-align: center;
color: #ff8c69;
border: 3px solid #ff8c69; 
}
