body {background-color: #F5F5F5;}

ul {
   list-style-type: none;
   margin: 10px;
   padding: 0;
   overflow: hidden;
   background-color: #333;   
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}

.active {
    background-color: #b893ad;
}

h1 { 
  text-align: center; 
  color: black;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif; 
  font-size: 3em;
}

img {width: 100%;}

h2 {
   text-align: center;
   color: #8d6d83;
   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 2em;
}

p {
  text-align: center;
  color: black;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.footer {
       background-color: #c5afbe;
       padding: 40px;
       width: 100%;
       color: white;
       text-align: center;
       font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
          opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  padding: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  padding: 10px;
}

.fa-instagram {
  background: #125688;
  color: white;
  padding: 10px;
}
