body {
    background-image: url("640field.jpg");
}

h1 { 
  text-align: center; 
  color: #73AD21;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 3em;
}

img { 
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 225px; 
   height: 300px;
   border-radius: 8px;
 }

.dropbtn {
      background-color: white;
      color: green;
      padding: 16px;
      font-size: 16px;
      border: 3px solid green;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.DropDown {
      position: relative;
/*      top: 300px; */
/*      left: 10px; */
      display: inline-block;
}

.dropdown-content { 
      font-size: 16px;
      color: green;
      text-align: center;
      font-weight: 900;
      font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
      z-index: 1;
}

.dropdown-content a:link { 
                 color: green;
                 padding: 12px 16px;
                 display: block;
}

.dropdown-content a:visited { 
                 color: green;
                 padding: 12px 16px;
                 display: block;
}

.dropdown-content a:hover { 
                 color: #73AD21;
                 background-color: #ddd;
}

.DropDown:hover .dropdown-content {
                 display: block;
}

.DropDown:hover .dropbtn {
                 background-color: #3e8e41;
}
