body {
    background-image: url("640field.jpg");
}

h1 { 
  text-align: center; 
  color: #73AD21;
}

h2 { 
  text-align: center;
  color: #73AD21;
}

img { 
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 225px; 
   height: 300px;
   border-radius: 8px;
 }

.div1 { 
      font-size: 1.5em;
      text-align: center;
}

.div2 {
      font-size: 1.5em;
      text-align: center;
}

.div3 {
      font-size: 1.5em;
      text-align: center;
}

.div4 {
      font-size: 1.5em;
      text-align: center;
}

a.one:link { color: white; }

a.one:hover { color: #73AD21; }

a.two:link { color: white; }

a.two:hover { color: #73AD21; }

a.three:link { color: white; }

a.three:hover { color: #73AD21; }

a.four:link { color: white; }

a.four:hover { color: #73AD21; }
