body {
     background-color: #F5F5F5;
}

ul {
   list-style-type: none;
   margin: 10px;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

li {
   float: left;
}

li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   text-decoration: none;
}

li a:hover {
   background-color: #111;
}

.active {
    background-color: #b893ad;
}

h1 {
   text-align: center;
   color: black;
   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h4 {
   text-align: center;
   color: #b893ad;
   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

img {
    width: 200px;
    height: 225px;
    align: center;
}

p {
  text-align: center;
}
